doctype html
html
	head
		include ./includes/_head.jade	
	body
		main.container
			h1.title Fates Collide
			form.booster
				img(src="https://en.cardoonia.com/PICTURE/fates-collide-booster-pack_grande_lkabqt.jpg").booster__pack
				ul.booster__cards
				.booster__group
					button(type="submit").booster__submit Open!

		script(src="/js/main.js")